# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
venv/

# Ignore IDE configuration files (optional)
.vscode/
.idea/
logs/
data/

# Ignore environment variables
.env

